body {
  width: 320px;
  height: 480px;
  background-color: #313738;
}
div {
  color: white;
}
div.touchPad {
  border-radius: 5px;
  border: 1px solid black;
  width: 80px;
  height: 80px;
  background-color: #07889B;
}
.touchPad:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.divide {
  background-color: hsl(31, 84%, 68%);
  border-radius: 10em;
  height: 1em;
  width: 320px;
}
div#footer {
  border-radius: 5px;
  border: 1px solid black;
  height: 60px;
  color: white;
  background-color: hsl(0, 0%, 0%);
}
div#header {
  border: 1px solid black;
  height: 60px;
  color: white;
}
.scBox {
  border: 1px solid black;
  height: 100px;
}

.knob {
    position:relative;
    cursor: move;
    background: #b33b3b;
    /*-webkit-box-shadow: -2px -2px 5px 1px #666;
    box-shadow: -2px -2px 5px 1px #666; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 1px solid white;
    height: 40px;
    width: 40px;
}

.knob .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 2px;
    background: #f90;
}

.title {
  border: 1px solid white;
  background-color: #07889B;
};
