body {
  width: 320px;
  height: 480px;
  background-color: #313738;
  font-family: 'Raleway', sans-serif;
}
select {
  font-family: 'Raleway', sans-serif;
  border: 0;
  color: black;
}
.scLogo {
  height: 4rem;
  width: 4rem;
}
#soundcloudConnect {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
h1 {
  font-family: 'Aldrich', sans-serif;
}
div {
  color: white;
}
div.touchPad {
        width: 80px;
				height: 80px;
				border: 1px solid hsla(60, 100%, 98%, 1);
				border-radius: 6px;
        box-shadow: 0px 0px 3px 3px rgba(0,255,255, 0.3);
        background: -webkit-radial-gradient( circle, #81C2CC 10%, #27707a 80%);
				text-align: center;
}
.touchPad:hover {
  background: hsla(187.7, 91.36%, 31.76%, 0.3);
  box-shadow: 0px 0px 5px 5px hsla(0, 0%, 100%, 0.3);
}
.touchPad:active {
  background: -webkit-radial-gradient( circle, #81C2CC 10%, #39A0AF 80%);
  box-shadow: 0px 0px 3px 3px hsl(0, 35%, 93%)
  text-align: center;
}
.active {
  width: 80px;
  height: 80px;
  border: 1px solid hsla(60, 100%, 98%, 1);
  border-radius: 6px;
  background: -webkit-radial-gradient( circle, #81C2CC 10%, #39A0AF 80%);
  box-shadow: 0px 0px 3px 3px hsl(0, 35%, 93%)
  text-align: center;
}
.divide {
  background-color: hsl(60, 3%, 10%);
  border-radius: 2em;
  height: 1em;
  width: 320px;
  z-index: -1;
}
.popover-title {
    color: black;
    font-size: 15px;
}
.popover-content {
    color: black;
    font-size: 10px;
}
.scBox {
  height: 146px;
  margin: 5px;
  display: none;
}
.pad{
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}
.padBottom{
  padding-bottom: 2rem;
}
.title {
  border: 1px solid white;
  border-radius: 6px;
  /*background-color: #07889B;*/
  box-shadow: 0px 0px 3px 3px rgba(0,255,255, 0.3);
  background: -webkit-radial-gradient( circle, #81C2CC 10%, #27707a 80%)
}
.btn.outline {
    background: none;
    padding: 5px 5px;
}
.btn-primary.outline {
    border: 2px solid hsla(199, 13%, 95%, 100);
    color: hsla(199, 13%, 95%, 100);
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: hsla(180, 4%, 21%, 1);
    border-color: hsla(0, 0%, 0%, 1);
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/*===========================================================
 * Facebook Loader Animation for SoundCloud Box
 * ========================================================*/
.loaderAni {
  display: none;
}
.facebook div{
     height:50px;
     width:20px;
     display:inline-block;
     background-color: #56bbdb;
     border:1px solid #217c99;
     -webkit-animation:facebook_loader 1.3s linear infinite;
     -moz-animation:facebook_loader 1.3s linear infinite;
     animation:facebook_loader 1.3s linear infinite;
     -webkit-transform:scale(0.91);
     -moz-transform:scale(0.91);
     transform:scale(0.91);
}

.facebook div:nth-child(1){
     -webkit-animation-delay:0.39s;
     -moz-animation-delay:0.39s;
     animation-delay:0.39s;
}
.facebook div:nth-child(2){
     -webkit-animation-delay:0.52s;
     -moz-animation-delay:0.52s;
     animation-delay:0.52s;
}
.facebook div:nth-child(3){
     -webkit-animation-delay:0.65s;
     -moz-animation-delay:0.65s;
     animation-delay:0.65s;
}
@-webkit-keyframes facebook_loader{
     0%{
          -webkit-transform:scale(1.2);
          opacity:1
     }
     100%{
          -webkit-transform:scale(0.7);
          opacity:0.1
     }
}
@-moz-keyframes facebook_loader{
     0%{
          -moz-transform:scale(1.2);
          opacity:1
     }
     100%{
          -moz-transform:scale(0.7);
          opacity:0.1
     }
}
@keyframes facebook_loader{
     0%{
          transform:scale(1.2);
          opacity:1
     }
     100%{
          transform:scale(0.7);
          opacity:0.1
     }
};
